################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RegisterUser/v15
/RegisterUser/bin/Debug
/RegisterUser/obj/Debug
/packages/Autofac.4.8.1
/RegisterUser.ClassLibrary/bin/Debug
/RegisterUser.ClassLibrary/obj/Debug
/packages/MSTest.TestAdapter.1.3.2
/packages/MSTest.TestFramework.1.3.2
/RegisterUser.ClassLibrary.Tests/bin/Debug
/RegisterUser.ClassLibrary.Tests/obj/Debug
