################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RegisterUser/v15
/RegisterUser/bin/Debug
/RegisterUser/obj/Debug
